body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: rgb(243, 247, 250);
  color: #333;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 10000;
}

.logo {
  padding-left: 20px;
}

.header h1 {
  margin: 0;
  font-size: 34px;
  color: #333;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.portal-title{
  font-size: 30px;
  text-align: center;
  margin-top: 45%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

.menu-button {
  width: 200px;
  padding: 15px;
  background-color: #006b8f;
  color: white;
  font-weight:200
}

.menu-button:hover {
  transform: scale(1.01);
  background-color: #0080aa;
}

.waiting-message {
  margin: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
