body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: #f4faff;
  color: #2c3e50	;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px 20px 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 10000;
  color: #2c3e50;
}

.logo {
  padding-left: 20px;
}

.header h1 {
  margin: 0;
  font-size: 34px;
  color: #2c3e50;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.portal-title{
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

.menu-button {
  width: 200px;
  padding: 15px;
  background-color: #339CFF;
  color: white;
  font-weight:200
}

.menu-button:hover {
  transform: scale(1.01);
  background-color: #007BFF;
}

.status {
  margin-top: 45px;
}

.cancel-call {
  background-color: #fafafa;
  border-color: #ff1010;
  color: #ff1010;
}

.cancel-call:hover {
  background-color: #ffc7c7;
  border-color: #ff1010;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
